[Unit]
Description=teslawallbox-exporter v0.2
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.7 /home/pi/bin/teslawallbox-exporter.py 10.0.0.155
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
